---
import BaseLayout from '../layouts/BaseLayout.astro';
import PurchaseBlock from '../components/PurchaseBlock.astro';
import GenericSlider from '../components/GenericSlider.astro';
import BaseGeneralModal from '../components/modals/BaseGeneralModal.astro';
import '../styles/global.scss';

const slogan = 'About One Life Japan'; // Set the height for 'about' page
//const slogan = 'More than 90% of visitors to Japan do not leave Japans Golden Route (Tokyo, Kyoto, Osaka)';
const pageBlurb2 =
    '<div class="centered"><h2 class="emph">More than 90% of visitors to Japan do not leave Japans Golden Route (Tokyo, Kyoto, Osaka)</h2></div><p class="centered">Yet, most of what The Golden Route has to offer, can be found throughout Japan - without the shoulder to shoulder tourist crowds.</p><div class="centered"><h2 class="emph larger">Where do you want your Japan adventure to take <em>you</em>?</h2></div>'; // Set image for 'about' page

const pageBlurb =
    '<span class="emph">One Life Japan provides bike, hike, and walking Adventure Facilitation</span> to help you see, taste, feel, and experience the rest of Japan.'; //

const sliderTextx =
    '<p>Most of what The Golden Route offers, can be found throughout Japan</p><p> without the shoulder to shoulder tourist crowds.</p> Where do you want your Japan adventure to take <em>you</em>?'; // Set image for 'about' page

const sliderText = '<div class="where-do-you">Where do you want your Japan adventure to take <em>you</em>?</div>'; // Set image for 'about' page

const title = 'About One Life Japan Hike & Bike Adventures in Rural Japan';
const description =
    "Discover One Life Japan - led by a local guide with 30+ years' experience, we offer personalized tours that take you beyond Japan's Golden Route into its authentic countryside and vibrant culture.";
---

<BaseLayout title={title} description={description} page="about" sliderid="4">
    <div class="custom-container simple-page-body">
        <div class="centered attention-catcher">
            <h2>More than 90% of visitors to Japan do not leave Japan's Golden Route</h2>
            <h4>(Tokyo, Kyoto, Osaka)</h4>
        </div>
        <div class="frame">
            <GenericSlider
                sliderImageId="23"
                height={180}
                sliderText={sliderText}
                imageAnimationDelay="0s"
                textAnimationDelay="2.5s"
                preventShrink="true"
            />
        </div>

        <PurchaseBlock page={'about'} slogan={slogan} pageBlurb={pageBlurb} />

        <br />
        <p>
            <span class="emph">Since 2005</span>, One Life Japan has been helping travelers explore parts of Japan's
            countryside that most never see - <span class="emph">on foot, by bike, and at a slower pace</span>. We guide
            people away from the bullet train lines, the crowds, and the famous Instagram stops into quieter, rural
            areas where daily life still shapes the experience.
        </p>

        <p>
            Our home base is in Northern Nagano, near villages like Iiyama, Nozawa Onsen, and Sakae Mura. It's where One
            Life Japan started, <span class="emph">where we have deep ties</span>, and where most of our trips take
            place. We know the backroads, the
            <span class="emph">rhythms of the land, the seasons, and the people.</span>
        </p>

        <div class="frame" style="margin-bottom: 20px;"><GenericSlider sliderImageId={73} height={250} /></div>

        <p>
            Each trip is <span class="emph">custom-designed, not pre-packaged</span>. They are based on real experience
            and on what opportunities present themselves at the time you visit. Some are short and relaxed, others more
            physically or culturally challenging. Whether it's <a
                href="/itinerary/4/3-days-off-the-path/"
                title="Short Rural Immersian in Japan">two-day countryside break</a
            >, a <a href="/itinerary/5/autumn-hike-and-bike-adventure/" title="Aumun Bike & Hike in Rural Japan"
                >one-week Bike & Hike challenge</a
            >, a <a href="/itinerary/1/family-japan-adventure/" title="Bike adventure in rural Japan for families"
                >relaxed family adventure</a
            >, or a one-month culture and language immersion for students — all are shaped around your timing, comfort
            level, and what you're <span class="emph">hoping to get out of the trip</span>. Nothing is fixed in stone —
            we plan based on real knowledge of the region and what's possible, not fixed tour dates or generic routes.
        </p>

        <p>
            We travel mostly by bike and on foot - not to rack up miles, but because it's <span class="emph">
                the best way to truly experience a place
            </span>. We use trains and transfers when needed, and e-bikes are available to keep things accessible
            without losing the feeling of <span class="emph">moving through a place under your own power.</span>
        </p>

        <p>
            What we offer is grounded. It's <span class="emph">not a fantasy of “lost Japan.”</span> Expect simplicity, not
            spectacle. Real encounters, not rehearsed ones. It's <span class="emph"
                >real, modern life in rural Japan</span
            > - a flexible way to experience places where the main story is you, and the people you meet - not tourism.
        </p>

        <p>
            If that sounds like your kind of trip,<span class="emph"> we can't wait to help make it happen</span>. We
            don't give you a checklist - we give you space to explore, adjust to your pace, and back you up when you
            need it. <span class="emph">Even if you get a little “lost,” you're never truly lost</span>. We're there to
            back you up, not hold your hand.
        </p>
        <div style="display: flex; align-items: center; justify-content: center; gap:10px;">
            <BaseGeneralModal show="modal" content="isItForYou" />
            <BaseGeneralModal show="modal" content="difficulty" />
            <BaseGeneralModal show="modal" content="priceEstimate" />
        </div>

        <hr />
        <h3>About Kevin — the person behind One Life Japan</h3>

        <br />
        <p>
            One Life Japan is <span class="emph">built around real, personal experience</span>. I'm Kevin - the guide
            and facilitator behind it - and I've spent more than <span class="emph"
                >30 years living, working, and exploring</span
            > Japan, from the islands of Kyushu and Shikoku to the streets of Tokyo.
        </p>
        <div class="frame about-right">
            <GenericSlider sliderImageId={22} height={225} />
        </div>
        <p>
            In 2006, I moved with my wife to a <span class="emph">rural village in Northern Nagano's Snow Country</span
            >, where I began farming rice, shoveling snow, and guiding tours as One Life Japan. Becoming <span
                class="emph"
            >
                part of a rural community
            </span> and living daily life there has given me <span class="emph">rare insight into a side of Japan</span>
            that few visitors ever see - something you can't fully understand without being rooted in it. Through One Life
            Japan, <span class="emph">I share that everyday connection</span> and local knowledge with travelers looking
            for <span class="emph">something deeper than a checklist</span> of sights.
        </p>

        <p>
            Over the years, I've traveled extensively <span class="emph"
                >by foot, bike, train, ferry, and even hitchhiking</span
            > - leading adventures from subtropical coastlines to Japan's highest peaks, through blizzards, typhoons, and
            golden rice fields. Along the way, I've developed <span class="emph">a knack for finding the path</span> that
            leads to something special.
        </p>
        <p>
            I speak both<span class="emph"> English and Japanese</span> and have a natural way of connecting with locals
            — whether chatting with farmers in mountain dialects or finding the perfect roadside udon spot.
        </p>

        <p>My background includes:</p>
        <ul>
            <li>Sea kayak instructor in Maine</li>
            <li>Outward Bound outdoor education instructor training in the US and Japan</li>
            <li>Outward Bound Japan field instructor</li>
            <li>Canyoning guide in Nagano</li>
            <li>Trained as a Wilderness First Responder</li>
            <li>Ogranic Rice Farmer</li>
            <li>Volunteer Fire Brigade</li>
        </ul>

        <p>
            Before settling in the countryside, I worked in Tokyo in finance and web development. After earning a
            master's degree in Sustainability Studies in Sweden, I joined one of Japan's leading sustainability
            consultancies. During the pandemic, when Japan was closed to tourism, I took a break from guiding to teach
            preschool and kindergarten - something that <span class="emph">keeps me young</span> and adds a <span
                class="emph">little extra magic to family trips</span
            >.
        </p>
        <p>
            I draw on all of these experiences to create grounded, meaningful adventures that <span class="emph">
                connect people with place
            </span> - often with a few unexpected moments of real-life hospitality along the way.
        </p>

        <blockquote>
            Kevin was instrumental in all our very special memories of the most fantastic Japan experiences. Hoping we
            can come visit you guys soon.
        </blockquote>

        <blockquote>
            Kristina and me went on a bike tour with Kevin 10 years ago (wow time flies!) and it remains my favorite
            ever trip
        </blockquote>

        <blockquote>
            The journey is as much about discovering new landscapes as it is about rediscovering ourselves. Whether
            you're cruising on a bike, exploring on foot, or simply soaking in a hot bath, you're not just a guest on
            our tours; you're like family, and part of a community of explorers, dreamers, and storytellers. - Kevin
        </blockquote>
    </div>

    <style lang="scss">
        @use '../styles/global' as *;
        .attention-catcher {
            padding-top: 20px;
            padding-bottom: 30px;
            overflow: hidden;
            position: relative;
        }
        .attention-catcher h2,
        h4 {
            opacity: 0;
            animation: fadeIn 4s forwards;
            animation-timing-function: ease-out;
            position: relative;
        }

        .attention-catcher h2 {
            font-size: 1.7em;
        }
        .attention-catcher h2 span {
            font-size: 1em;
        }
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @include respond-to(xxlarge) {
        }

        @include respond-to(xlarge) {
        }

        @include respond-to(large) {
            .attention-catcher {
                padding-top: 0px;
                padding-bottom: 20px;
            }
        }

        @include respond-to(medium) {
            .btn-container {
                justify-content: center !important; /* Center the button */
                margin-top: 5px; /* Add some space above the button */
            }

            .container .row {
                flex-direction: column; /* Stack the elements vertically */
                align-items: center; /* Center align the children */
            }

            .container .col-md-3 {
                width: 100%; /* Full width on smaller screens */
                display: flex;
                justify-content: center;
                margin-bottom: 1em;
            }

            h1 {
                text-align: center;
            }
        }
        .centered {
            text-align: center;
        }
        h2 {
            font-size: 1.5em;
            margin-top: 30px;
            /* color: var(--bs-primary); */
        }
        h2.larger {
            font-size: 2em;
        }
        h3 {
            margin-top: 30px;
            font-weight: bolder;
        }

        .about-right {
            float: right;
            width: 60%;
            margin-left: 10px;
            @include respond-to(small) {
                margin: 0px;
                width: 100%;
            }
            @include respond-to(medium) {
                width: 100%;
            }
        }
    </style>
</BaseLayout>
