---
import HeadComponent from '../components/Head/HeadComponent.astro';
import TopNav from '../components/TopNav/TopNav.astro';
import Footer from '../components/Footer/Footer.astro';
import TopSlider from '../components/TopSlider.astro';
import BottomBanner from '../components/BottomBanner.astro';
import PurchaseBlock from '../components/PurchaseBlock.astro';

import background from '../assets/background.svg';
import '../styles/global.scss';

const {
    title = 'OneLifeJapan',
    description = 'OneLife Japan: Hike, Bike and Walking Adventures in Rural Japan',
    page = 'index',
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <HeadComponent title={title} description={description} />
        <slot name="head" />
    </head>
    <body>
        <img id="background" src={background.src} alt="" fetchpriority="high" />

        <div class="custom-container">
            <TopNav />
        </div>

        <div id="topSlider">
            <TopSlider page={page} />
        </div>

        {page === 'index' && <PurchaseBlock page={page} />}

        <main class="custom-container">
            <slot />
        </main>

        <!-- <BottomBanner /> -->
        <Footer />
    </body>
</html>
