---
import HeadComponent from '../components/Head/HeadComponent.astro';
import TopNav from '../components/TopNav.astro';
import Footer from '../components/Footer/Footer.astro';
import TopSlider from '../components/TopSlider.astro';
import BottomBanner from '../components/BottomBanner.astro';
import PurchaseBlock from '../components/PurchaseBlock.astro';

import background from '../assets/background.svg';
import '../styles/global.scss';

const {
    title = 'One Life Japan Hike, Bike & Walking Adventures',
    description, //= 'One Life Japan provides active, educational customizable bicycle and walking tours in rural Japan. We use bicycles as a vehicle for exploration of culture and expanding comfort-zones.',
    page = 'index',
    devOnly = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <HeadComponent title={title} description={Astro.props.description} />
        {devOnly && <meta name="dev-only" content="true" />}
        <slot name="head" />
    </head>
    <body>
        <img id="background" src={background.src} alt="" fetchpriority="high" />

        <div class="custom-container">
            <TopNav />
        </div>

        <div id="topSlider">
            <TopSlider page={page} />
        </div>

        {page === 'index' && <PurchaseBlock page={page} />}

        <main class="custom-container itinerary-page-body">
            <slot />
        </main>

        <!-- <BottomBanner /> -->
        <Footer />

        <style lang="scss">
            @use '../styles/global' as *;
            .itinerary-page-body {
                background: white;
                border: 1px solid var(--bs-primary-dark);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
                padding: 15px;
                margin-top: 5px;
                @include respond-to(small) {
                    padding: 0px;
                }
            }
        </style>
    </body>
</html>
